*{margin: 0;
padding: 0px;}
.menu-container{
  background-image: linear-gradient(60deg, rgb(9, 134, 120), rgb(4, 37, 48));
padding: 20px 0px 20px 20px;
color: white;
list-style: none;
display: flex;
justify-content: space-around;
align-items: center;}
.img{
  width: 120px;
  padding-left: 20px;
}
.menus{justify-content: right;
  display: flex;
}
.list{
  margin-right: 50px;
  padding: 10px;
  font-size: 21px;
  cursor: pointer;
}
.list:hover{
  color: yellow;
}
.banner-img{
  width: 360px;
  height:240px;
}
.banner-container{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  border: 2px solid gray;
  align-items: center;
 background-color: rgb(16, 113, 95);
 background-image: linear-gradient(45deg, rgb(5, 5, 69),rgba(13, 103, 136, 0.81));
  color: white;
  padding-right: 20px;
  
}
.banner-text{
  border: 20px;
    padding: 20px;}
    #hedu{
      font-weight: bold;
      font-size: 50px;
    }
    .para{
      font-weight: ;
      font-size: 24px;
      color: rgba(226, 229, 233, 0.847);
    } 
    .btn{
      height: 25px;
      width: 110px;
      border: 3px solid rgb(16, 125, 168);
      cursor: pointer;
      font-size: 16px;
      background-color: bisque;
      border-radius: 5px;
    }
    .btn:hover{
      background-color: gainsboro;
    }
    .about-img{
      width: 300px;
      height: 200[x];
    }
    .about-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row-reverse;
      padding: 10px;
    }
    .about-title{
      text-align: center;
      margin: 10px;
      padding-top: 20px;
      font-size: 36px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .box{
      width: 230px;
      height: 250px;
      box-shadow: 4px 4px 15px gray;
      background-color: wheat;
      color: black;
      text-align: center;
      margin: 20px 40px;
      padding: 5px;
    }
    .icon{
      width: 70px;
      color: wheat;
    }
    